.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 16px;
    margin-bottom: 10px;

    background: #f3fcef;
    border: 1px solid #e5e7eb;
    border-radius: 12px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    transition: all 0.2s ease;
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    border-color: #d1d5db;
}

p {
    font-size: 16px;
    color: #111827;
    flex: 1;
    word-break: break-word;
}

.btns {
    display: flex;
    gap: 5px;
}

.completed-btn {
    border-radius: 50%;
    padding: 0.45rem 0.75rem;
    border: 1px solid rgb(16, 172, 16);
    background-color: rgb(15, 188, 15);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.delete-btn {
    padding: 0.45rem 0.8rem;
    border-radius: 50%;
    border: 1px solid #dc2626;
    background-color: #dc2626;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.delete-btn:hover {
    background: #ee6767;
}

.completed-btn:hover {
    cursor: pointer;
    background-color: rgb(2, 167, 2);
}

button:active {
    transform: scale(0.96);
}