.note-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    max-width: 600px;
    padding: 1rem;
}

button {
    padding: 0.2rem;
}